{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1.0">#}
{#    <title>Network Traffic Classifier</title>#}
{#    <link rel="stylesheet" href="/static/style.css">#}
{#</head>#}
{#<body>#}
{#    <h1>Network Traffic Classifier</h1>#}
{#    <form id="predict-form">#}
{#        <div class="form-group">#}
{#            <label for="destination_port">Destination Port:</label>#}
{#            <input type="number" id="destination_port" name="destination_port" required>#}
{#        </div>#}
{#        <div class="form-group">#}
{#            <label for="total_backward_packets">Total Backward Packets:</label>#}
{#            <input type="number" id="total_backward_packets" name="total_backward_packets" required>#}
{#        </div>#}
{#        <div class="form-group">#}
{#            <label for="fwd_packet_length_min">Forward Packet Length Min:</label>#}
{#            <input type="number" id="fwd_packet_length_min" name="fwd_packet_length_min" required>#}
{#        </div>#}
{#        <div class="form-group">#}
{#            <label for="bwd_packet_length_min">Backward Packet Length Min:</label>#}
{#            <input type="number" id="bwd_packet_length_min" name="bwd_packet_length_min" required>#}
{#        </div>#}
{#        <div class="form-group">#}
{#            <label for="bwd_packet_length_mean">Backward Packet Length Mean:</label>#}
{#            <input type="number" id="bwd_packet_length_mean" name="bwd_packet_length_mean" required>#}
{#        </div>#}
{#        <div class="form-group">#}
{#            <label for="bwd_packet_length_std">Backward Packet Length Std:</label>#}
{#            <input type="number" id="bwd_packet_length_std" name="bwd_packet_length_std" required>#}
{#        </div>#}
{#        <div class="form-group">#}
{#            <label for="flow_packets">Flow Packets:</label>#}
{#            <input type="number" id="flow_packets" name="flow_packets" required>#}
{#        </div>#}
{#        <div class="form-group">#}
{#            <label for="flow_iat_max">Flow IAT Max:</label>#}
{#            <input type="number" id="flow_iat_max" name="flow_iat_max" required>#}
{#        </div>#}
{#        <div class="form-group">#}
{#            <label for="fwd_iat_total">Forward IAT Total:</label>#}
{#            <input type="number" id="fwd_iat_total" name="fwd_iat_total" required>#}
{#        </div>#}
{#        <div class="form-group">#}
{#            <label for="fwd_iat_mean">Forward IAT Mean:</label>#}
{#            <input type="number" id="fwd_iat_mean" name="fwd_iat_mean" required>#}
{#        </div>#}
{#        <div class="form-group">#}
{#            <label for="fwd_iat_max">Forward IAT Max:</label>#}
{#            <input type="number" id="fwd_iat_max" name="fwd_iat_max" required>#}
{#        </div>#}
{#        <div class="form-group">#}
{#            <label for="fwd_header_length">Forward Header Length:</label>#}
{#            <input type="number" id="fwd_header_length" name="fwd_header_length" required>#}
{#        </div>#}
{#        <div class="form-group">#}
{#            <label for="bwd_header_length">Backward Header Length:</label>#}
{#            <input type="number" id="bwd_header_length" name="bwd_header_length" required>#}
{#        </div>#}
{#        <div class="form-group">#}
{#            <label for="fwd_packets">Forward Packets:</label>#}
{#            <input type="number" id="fwd_packets" name="fwd_packets" required>#}
{#        </div>#}
{#        <div class="form-group">#}
{#            <label for="min_packet_length">Min Packet Length:</label>#}
{#            <input type="number" id="min_packet_length" name="min_packet_length" required>#}
{#        </div>#}
{#        <div class="form-group">#}
{#            <label for="packet_length_mean">Packet Length Mean:</label>#}
{#            <input type="number" id="packet_length_mean" name="packet_length_mean" required>#}
{#        </div>#}
{#        <div class="form-group">#}
{#            <label for="avg_bwd_segment_size">Avg Backward Segment Size:</label>#}
{#            <input type="number" id="avg_bwd_segment_size" name="avg_bwd_segment_size" required>#}
{#        </div>#}
{#        <div class="form-group">#}
{#            <label for="subflow_bwd_packets">Subflow Backward Packets:</label>#}
{#            <input type="number" id="subflow_bwd_packets" name="subflow_bwd_packets" required>#}
{#        </div>#}
{#        <div class="form-group">#}
{#            <label for="init_win_bytes_forward">Init Win Bytes Forward:</label>#}
{#            <input type="number" id="init_win_bytes_forward" name="init_win_bytes_forward" required>#}
{#        </div>#}
{#        <div class="form-group">#}
{#            <label for="init_win_bytes_backward">Init Win Bytes Backward:</label>#}
{#            <input type="number" id="init_win_bytes_backward" name="init_win_bytes_backward" required>#}
{#        </div>#}
{#        <button type="submit">Predict</button>#}
{#    </form>#}
{##}
{#    <script src="/static/script.js"></script>#}
{#</body>#}
{#</html>#}
